body{
background:#111;
color:white;
text-align:center;
font-family:sans-serif;
}

.wheel-container{
position:relative;
width:320px;
margin:auto;
}

canvas{
background:#222;
border-radius:50%;
}

.arrow{
position:absolute;
top:-10px;
left:50%;
transform:translateX(-50%);
width:0;
height:0;
border-left:15px solid transparent;
border-right:15px solid transparent;
border-bottom:30px solid yellow;
z-index:10;
}

button{
margin-top:20px;
padding:15px 40px;
font-size:18px;
border:none;
border-radius:10px;
background:#00bcd4;
color:white;
cursor:pointer;
}
