body{
background:#111;
color:white;
text-align:center;
font-family:sans-serif;
}

.wheel-container{
position:relative;
width:320px;
margin:40px auto;
}

canvas{
background:#222;
border-radius:50%;
display:block;
margin:auto;
}

/* стрелка */
.arrow{
position:absolute;
bottom:-10px;
left:50%;
transform:translateX(-50%);
width:0;
height:0;

border-left:15px solid transparent;
border-right:15px solid transparent;
border-top:30px solid yellow;

z-index:10;
}

button{
margin-top:25px;
padding:15px 40px;
font-size:18px;
border:none;
border-radius:10px;
background:#00bcd4;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#0097a7;
}

#result{
margin-top:20px;
font-size:22px;
font-weight:bold;
}
